header {
  height: 60px;
  background-color: white;
  text-transform: uppercase;
}

header > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header div {
  height: 100%;
}

header img {
  height: 100%;
}

main {
  background-color: lightgray;
}

footer {
  background-color: lightgreen;
}

.base-padding {
  padding: 1rem;
}

aside {
  color: white;
  background-color: grey;
  width: 1000px;
  margin-inline: auto;
  border-radius: 8px;
}
