<html>
  <head>
    <title>Welcome to my Website</title>
  </head>
  <body>
    <h1>Welcome to my dynamic site</h1>
    <p><%= message %></p>
    <p>Your random number is <%= number %></p>
    <p>Your name is <%= name %></p>
  </body>
</html>
