<html>
  <head>
    <title>My Web Page</title>
  </head>
  <body>
    <h1>Welcome <%= name %>!</h1>
    <h2>Your email: <%= email %></h2>
    <p>I hope you enjoy it, check out my cool links.</p>
  </body>
</html>
