* {
  box-sizing: border-box;
}

body {
  background-color: hsl(20, 70%, 80%);
}

p,
li,
blockquote,
a,
span,
h1,
h2,
h3,
h4,
button,
input {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

header > h1 {
  font-size: 3rem;
  text-align: center;
}

.row {
  display: flex;
  gap: 1rem;
}

.row-center {
  justify-content: center;
}

.row-item-grow * {
  flex-grow: 1;
}

.card {
  border: 5px solid hsl(80, 90%, 30%);
  border-radius: 0.5rem;
  padding: 1rem;
}

.flow > * + * {
  margin-top: 1rem;
}
.flow-inline > * + * {
  margin-left: 1rem;
}

button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 3px solid hsl(310, 60%, 50%);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px 0px hsl(310, 60%, 30%);
}

button:hover {
  background-color: hsl(310, 60%, 50%);
  color: white;
}

button:active {
  background-color: hsl(310, 60%, 45%);
  box-shadow: none;
}

input {
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border: 3px solid hsl(310, 60%, 50%);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px 0px hsl(310, 60%, 30%);
}
