@import "brand";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 10px;
}

p {
  font-size: 1rem;
}

h3 {
  font-size: 1.6rem;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 2.6rem;
}

.emphasis {
  font-size: 1.2em;
  font-weight: bold;
}

header {
  height: 60px;
  background-color: white;
  text-transform: uppercase;
}

@media only screen and (max-width: 575px) {
  header p {
    display: none;
  }
}

header {
  & > div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  div {
    height: 100%;
  }

  img {
    height: 100%;
  }
}

@mixin background-color($mode) {
  background-color: $mode;
}

main {
  @include background-color($mode);
  flex-grow: 1;
}

@media only screen and (min-width: 575px) {
  main > div {
    display: flex;
  }
  aside {
    max-width: 200px;
  }
}

footer {
  background-color: $frog-green;
}

.base-padding {
  padding: 1rem;
}

.auto-margin-inline {
  margin-inline: auto;
}

@mixin border-curver($radius) {
  border-radius: $radius;
}

aside {
  @extend .auto-margin-inline;
  color: white;
  background-color: $frog-green;
  width: 89%;
  @include border-curver(30px);
}

.layout {
  @extend .auto-margin-inline;
  max-width: 1200px;
}
