<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new Spaceship!</title>
  </head>
  <body>
    <h1>Enter a new spaceship</h1>
    <form action="/spaceships/new" method="POST">
      <input name="name" placeholder="Enter spaceship name" /><br />
      <input name="thrust" placeholder="Enter thrust" /><br />
      <input name="wingspan" placeholder="Enter wingspan" /><br />
      <button type="submit">Submit new Spaceship</button>
    </form>
  </body>
</html>
