<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= heading %>></title>
  </head>
  <body>
    <a href="/about">About</a>
    <ul>
      <li><a href="/language/en">en</a></li>
      <li><a href="/language/fr">fr</a></li>
      <li><a href="/language/es">es</a></li>
      <li><a href="/language/ja">ja</a></li>
      <li><a href="/language/ko">ko</a></li>
      <li><a href="/language/so">so</a></li>
    </ul>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
    <h1><%= heading %></h1>
    <p><%= body %></p>
  </body>
</html>
