<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Stuff</title>
  </head>
  <body>
    <h1>Your secret stuff</h1>
    <p>Welcome to your secret stuff, <%= name %>!</p>
  </body>
</html>
