.main-container {
  display: flex;
}

main {
  width: 55%;
}

aside {
  width: 45%;
}

button {
  border-radius: 1rem;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: hsl(280, 70%, 40%);
  color: white;
}

button:active {
  background-color: hsl(280, 70%, 30%);
  box-shadow: none;
}
