.main {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.main section {
  flex-grow: 1;
}

.main section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  padding-left: 0;
}

.main aside {
  flex-basis: 40%;
  flex-grow: 0;
}

.main aside div .profile-picture,
.main aside div .pet-picture {
  border-radius: 1rem;
  width: 100%;
}
